{
  "plugins": [
    "import",
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript",
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": "warn",
    "import/order": [
     "warn"
    ]
  }
}